/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

/* fixes https://github.com/FortAwesome/Font-Awesome/issues/6*/
[class^="icon-"] {
    background-image:none;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hidden {
    display: none;
}
