{{#partial "title" }}
    <title>JSON Blob | About</title>
{{/partial}}

{{#partial "content"}}
    <div class="container">
        <div class="jumbotron">
            <p class="lead">
                JSON Blob was created to help parallelize client/server development. Mock JSON responses can be defined using the online editor and then clients can use the <a href="/api">JSON Blob API</a> to retrieve and update the mock responses.
            </p>
            <p>
                Blobs that are not accessed in {{deleteAfterDays}} days will be removed.
            </p>
            <p>
                <a href="/new"><button type="button" class="btn-primary, btn">Get started!</button></a>
            </p>
        </div>
        <div class="row col-md-12">
            {{> views/copyright}}
        </div>
    </div>
{{/partial}}

{{> views/base}}